{% load static %}

<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22><text y=%221em%22 font-size=%221em%22>🥕</text></svg>" />
	<link rel="stylesheet" href="{% static 'census/css/bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css" />
	{% block additional_css %}{% endblock %}

	<title>{% block title %}Recensement des fermes maraîchères diversifiées{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-secondary">
	<div class="container-fluid">

		<a class="navbar-brand" href="/">🥕</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'census:listing' %}">Liste</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'census:map' %}">Carte</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#faq">FAQ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

{% block content %}{% endblock %}

<!-- FOOTER -->
<div class="container text-center">
	<footer class="row align-items-center py-3 my-4 border-top">

		<div class="col-sm-5 text-sm-start order-sm-1">
			<p>
				Développé et maintenu par <a href="mailto:antoine.paris@uclouvain.be">Antoine Paris</a><br>
				<a href="https://www.uclouvain.be/en/research-institutes/eli" target="_blank">Earth and Life Institue</a>,
				<a href="https://www.uclouvain.be/fr" target="_blank">UCLouvain</a>
			</p>
		</div>

		<div class="col-sm-5 text-sm-end order-sm-3">
			<a href="/#faq" class="px-2 text-body-secondary link-underline-light">FAQ</a>
			<a href="/#contact" class="px-2 text-body-secondary link-underline-light">Contact</a>
			<a href="{% url 'census:cgu' %}" class="px-2 text-body-secondary link-underline-light">Conditions générales d'utilisation</a>
		</div>

		<div class="col-sm-2 order-sm-2 mt-3 mt-md-0">
			<a class="nav-link" href="{% url 'census:index' %}">🥕</a>
		</div>
	</footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>

{% block script %}{% endblock %}

</body>
</html>