{% extends "census/base.html" %}

{% block title %}
	Conditions générales d'utilisations
{% endblock title %}

{% block content %}

<div class="container mt-4">
	<h1>Conditions générales d'utilisation</h1>

	<p>
		Les conditions générales d’utilisation en résumé (attention : seules les conditions générales d’utilisation
		complètes ont une valeur juridique)&nbsp;:
	</p>

	<ul>
		<li>
			En contribuant à la Plateforme de recensement des fermes maraîchères diversifiées, vous vous engagez à fournir
			des données correctes et, si nécessaire, mises à jour concernant la ferme maraîchère diversifiée dont vous êtes
			(co-)responsable.
		</li>
		<li>
			Vos données à caractère personnel sont traitées conformément à la réglementation applicable en matière de protection
			des données à caractère personnel, en ce compris le Règlement Général sur la Protection des Données (RGPD) et la loi
			du 30 juillet 2018 relative à la protection des personnes physiques à l’égard des traitements de données à caractère
			personnel.
		</li>
		<li>
			Elles ne sont transmises à aucun tiers.
		</li>
		<li>
			Pour toute question relative au traitement de vos données ou pour toute demande d’exercice de droits, merci de
			nous contacter à l’adresse <a href="mailto:antoine.paris@uclouvain.be">antoine.paris@uclouvain.be</a>.
		</li>
	</ul>

	<p>
		L’utilisation de la Plateforme de recensement des fermes maraîchères diversifiées est régie par les présentes
		conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir
		acceptées. Celles-ci pourront être modifiées à tout moment et sans préavis par la Plateforme, qui ne saurait être
		tenue pour responsable en aucune manière d’une mauvaise utilisation du service.
	</p>

	<hr class="my-4">

	<h3>ARTICLE 1 - DEFINITIONS</h3>

	<p>
		Pour l’interprétation des présentes conditions générales d’utilisation (CGU) de la Plateforme de recensement des
		fermes maraîchères diversifiées, les termes employés ci-après, au pluriel ou au singulier, sont définis de la façon
		suivante&nbsp;:
	</p>

	<p>
		Plateforme : désigne l’outil dématérialisé de recensement des fermes maraîchères diversifiées accessible à toutes
		et tous par laquelle les Contributrices et Contributeurs peuvent contribuer via le formulaire et regroupant les
		Données des Contributrices et Contributeurs.
	</p>

	<p>
		Contributrice ou Contributeur : désigne toute personne ayant complété et soumis un formulaire pour saisir des
		Données relatives à la ferme maraîchère diversifiée dont elle est (co-)responsable. (Les Contributrices ou
		Contributeurs sont donc des maraîchères ou maraîchers diversifié·es.)
	</p>

	<p>
		Contribution : désigne toute Donnée saisie par une Contributrice ou un Contributeur et susceptible d’être modifiée
		en cas d’erreur de saisie. (Les Contributions sont donc un ensemble de données relatives à une ferme maraîchère
		diversifiée.)
	</p>

	<p>
		Visiteuse ou Visiteur : désigne toute personne utilisant la Plateforme sans nécessairement avoir soumis une Contribution.
	</p>

	<hr class="my-4">

	<h3>ARTICLE 2 - OBJETS</h3>

	<p>
		Les présentes CGU ont pour objet de définir les conditions et modalités d’utilisation de la Plateforme proposée par
		l’éditeur et accessible à toutes et tous. L’éditeur a mis en place une Plateforme permettant aux Contributrices et
		Contributeurs de saisir des Données relatives à leur ferme maraîchère diversifiée. Les Contributrices et Contributeurs
		sont invités à participer en&nbsp;:
	</p>

	<ol>
		<li>Modifiant des données préexistantes relatives à leur ferme maraîchère diversifiées&nbsp;</li>
		<li>Créant une nouvelle Contribution&nbsp;</li>
		<li>Visualisant un sous-ensemble des Contributions  ou des statistiques obtenues sur l’ensembles des Contributions.</li>
	</ol>

	<p>
		Les Contributions sont partiellement visibles sur une carte interactive à l’adresse
		<a href="{% url 'census:map' %}">https://www.recensement.maraichage-wallonie.be/map/</a> où celles-ci ont été
		agrégées par commune pour cacher leur localisation exacte, ainsi que sur une liste à l’adresse
		<a href="{% url 'census:listing' %}">https://www.recensement.maraichage-wallonie.be/listing/</a> ne
		reprenant que des informations publiques par ailleurs (nom, commune, province, site internet et page Facebook de la
		ferme).
	</p>

	<hr class="my-4">

	<h3>ARTICLE 3 - CHAMP D'APPLICATION</h3>
	<p>
		Les CGU de la Plateforme de recensement des fermes maraîchères diversifiées s’appliquent, sans restriction ni
		réserve, à tous les services proposés sur la Plateforme. Les CGU de la Plateforme de recensement des fermes
		maraîchères diversifiées prennent effet à compter de leur publication sur la Plateforme et restent en vigueur
		jusqu’à leur modification partielle ou totale par l’éditeur.
	</p>

	<hr class="my-4">

	<h3>ARTICLE 4 - PROCESSUS DE CREATION D'UNE CONTRIBUTION</h3>

	<h4 class="mt-4">4.1. Création d’une Contribution</h4>
	<p>
		Seul·es les Contributrices et Contributeurs peuvent participer. Cela signifie que la création d’une Contribution
		suppose d’avoir accepté, pleinement et sans réserve, les CGU de la Plateforme. Chaque Contribution est modifiable
		directement via la plateforme par réception d’un courriel contenant un lien d’édition unique valable 24 heures, ou
		en envoyant un courriel à <a href="mailto:antoine.paris@uclouvain.be">antoine.paris@uclouvain.be</a>.
	</p>

	<h4 class="mt-4">4.2. Formes d’une Contribution</h4>

	<p>
		Chaque Contribution correspond à un ensemble d’informations relatives à une ferme maraîchère diversifié. Les
		Contributrices et Contributeurs s’engagent à ne saisir que des Contributions justes et à jour.
	</p>

	<p>
		Après validation de chaque Contribution par un administrateur·rice, chaque Contribution est très partiellement visible
		par toutes et tous. Seules des informations publiques par ailleurs sont visibles par toutes et tous (nom, commune,
		province, site internet et page Facebook de la ferme).
	</p>

	<h4 class="mt-4">4.3. Diffusion des Contributions</h4>

	<p>
		Les Contributrices et Contributeurs acceptent par les présentes que ses Contributions sur la Plateforme soient
		publiques et accessibles à toute Visiteuse et tout Visiteur de la Plateforme.
	</p>

	<h4 class="mt-4">4.4. Référencement des Contributions</h4>

	<p>
		Toutes les Contributions publiées sur la Plateforme sont susceptibles d’être référencées sur un moteur de recherche
		et, donc, d’être consultées par un public extérieur qui aura accès aux données publiques de chaque Contribution
		(nom, commune, province, site internet et page Facebook de la ferme).
	</p>

	<hr class="my-4">

	<h3>ARTICLE 5 - LIMITATION DE RESPONSABILITÉ DE L'ÉDITEUR</h3>

	<p>
		Les informations contenues sur cette Plateforme sont aussi précises que possibles et le site est périodiquement
		remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une
		lacune, erreur ou ce qui paraît être un dysfonctionnement, merci de bien vouloir le signaler par courriel à
		<a href="mailto:antoine.paris@uclouvain.be">antoine.paris@uclouvain.be</a> en décrivant le problème de la manière la
		plus précise possible (page posant un problème, action déclenchante, type d’ordinateur et de navigateur utilisé, etc.).
		Tout téléchargement de contenu se fait aux risques et périls de l’utilisatrice ou utilisateur et sous sa seule
		responsabilité. En conséquence, la Plateforme ne saurait être tenue responsable d’un quelconque dommage subi par
		l’ordinateur de l’utilisatrice ou utilisateur.
		Les liens hypertextes mis en place dans le cadre de la présente Plateforme en direction d’autres ressources présentes
		sur le réseau Internet ne sauraient engager la responsabilité de la Plateforme.
	</p>

	<hr class="my-4">

	<h3>ARTICLE 6 - DONNEES A CARACTÈRE PERSONNEL</h3>

	<p>
		Le responsable du traitement est Antoine Paris. Les Données à caractère personnel sont collectées, traitées,
		enregistrées et stockées conformément aux dispositions légales applicables et notamment au règlement UE 2016/679
		du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère
		personnel et à la libre circulation de ces données (règlement général sur la protection des données). Elles sont
		traitées sur base de votre consentement exclusivement dans le but d’étudier le secteur du maraîchage diversifié en
		Wallonie, à Bruxelles et dans les communes à facilités sous différents aspects : statistiques sur les caractéristiques
		des fermes, pratiques agricoles, données socio-économiques, etc. Les données à caractère personnel traitées sont
		les suivantes : le nom de la ferme, son adresse postale et ses coordonnées GPS, l’adresse de courriel de votre ferme,
		le numéro de téléphone de votre ferme, votre nom et prénom, votre adresse de courriel professionnelle et votre numéro
		de téléphone professionnel. En outre, des données relatives à votre ferme (e.g., surface cultivée, nombre d’équivalents
		temps plein rémunérés, mode de production, année d’installation, pratiques agricoles, données économiques) pourront
		aussi être traitées.
	</p>

	<h4 class="mt-4">6.1. Stockage des données</h4>

	<p>
		Vos Données sont stockées sous la forme de base de données électronique sous la responsabilité du responsable du
		traitement qui prend toutes les mesures nécessaires pour assurer leur sécurité. Des mesures de sécurité appropriées<sup>*</sup>
		ont été mises en place pour garantir une utilisation conforme des données à caractère personnel aux finalités pour
		lesquelles elles ont été collectées, ainsi que pour éviter toute perte, usage abusif ou altération des informations
		reçues&nbsp;:
	</p>
	<ul>
		<li>
			La connexion à la base de données est restreinte à la seule Plateforme de recensement et à l’ordinateur de travail
			d’Antoine Paris (quand celui-ci est connecté au réseau de l’UCLouvain). Aucune autre connexion à la base de données
			n'est permise &nbsp;;
		</li>
		<li>
			Les données sont chiffrées de bout-en-bout via SSL&nbsp;;
		</li>
		<li>
			Des back-ups journaliers de la base de données limitent grandement le risque de perte de données.
		</li>
	</ul>

	<h4 class="mt-4">6.2. Délai de conservation des données</h4>

	<p>
		Les données à caractère personnel mentionnées à l’article 6 sont conservées pour une durée de 30 ans, mais peuvent
		être retirées sur simple demande en envoyant un courriel à
		<a href="mailto:antoine.paris@uclouvain.be">antoine.paris@uclouvain.be</a>. Les statistiques de connexion
		non nominatives sont gardées aussi longtemps que nécessaire. Les statistiques de connexion nominatives (adresse IP,
		etc.) ne sont pas conservées.
	</p>

	<h4 class="mt-4">6.3. Accès et transmission des données</h4>

	<p>
		L’éditeur de la Plateforme a accès aux données personnelles mentionnées à l’article 6. Toute Visiteuse ou tout
		Visiteur de la Plateforme ne peut avoir accès qu’aux Données déjà publiques par ailleurs relatives aux Contributions.
		Nous ne transmettons en aucun cas les données à caractère personnel des Contributrices ou Contributeurs, que ce soit
		aux structures avec lesquelles nous travaillons ou aux structures qui nous aident à financer le programme. Il est
		interdit aux Contributrices et Contributeurs de collecter des données au sujet d’autres Contributrices ou
		Contributeurs, même à des fins personnelles, en se servant des outils et services mis à leur disposition par
		la Plateforme. Cet acte est considéré par la loi comme un délit (détournement de la finalité d’un traitement
		automatique de données) et peut faire l’objet d’une plainte de la part de la Plateforme.
	</p>

	<h4 class="mt-4">6.4. Droits des Contributrices ou Contributeurs</h4>

	<ul>
		<li>
			Vous avez le droit d’obtenir la confirmation que des données personnelles vous concernant sont ou ne sont pas
			traitées et, lorsqu’elles le sont, l’accès aux dites données.
		</li>
		<li>
			Vous avez le droit d’obtenir la portabilité des données personnelles vous concernant, sous réserve des conditions
			prévues par la législation applicable.
		</li>
		<li>
			Vous avez le droit de rectifier les données à caractère personnel incorrectes ou incomplètes.
		</li>
		<li>
			Vous avez le droit de demander l’effacement de vos données à caractère personnel dans les cas limitativement
			prévus par la législation applicable.
		</li>
		<li>
			Vous avez le droit de demander la limitation du traitement dans les cas limitativement prévus par la législation
			applicable.
		</li>
		<li>
			Vous avez le droit de vous opposer au traitement de vos données personnelles, sous réserve des conditions prévues
			par la législation applicable.
		</li>
		<li>
			Vous avez le droit de retirer votre consentement pour le traitement à tout moment.
		</li>
		<li>
			Vous avez le droit d’introduire une réclamation auprès de l’Autorité de Protection des Données
			(<a href="https://www.autoriteprotectiondonnees.be" target="_blank">www.autoriteprotectiondonnees.be</a>). Pour toute
			demande d’exercice de droits ou pour toute question relative au traitement des données personnelles, merci de
			contacter <a href="mailto:antoine.paris@uclouvain.be">antoine.paris@uclouvain.be</a>.
		</li>
	</ul>
</div>

{% endblock content %}