{% extends "census/farm_form.html" %}

{% block title %}
	Ajouter une ferme maraîchère
{% endblock title %}

{% block content-header %}

	<a href="{% url 'census:listing' %}" class="btn btn-sm btn-secondary mb-4" >← Retour à la liste</a>
	<a href="{% url 'census:map' %}" class="btn btn-sm btn-secondary mb-4" >← Retour à la carte</a>

	<h1>Ajouter une ferme maraîchère diversifiée</h1>

	<p>
		Par « ferme maraîchère diversifiée », nous entendons une ferme qui produit et vend à titre professionnel
		un minimum de <b>12 catégories de légumes</b>.
	</p>

	<p>
		<b>Ce formulaire est réservé au maraîcher·ères</b>. Si vous êtes citoyen·nes et que vous souhaitez nous indiquer
		un·e maraîcher·ère manquant·e, <a href="/#contact">contactez-nous</a>.
	</p>

{% endblock content-header %}
