{% extends "census/base.html" %}

{% load static %}

{% block additional_css %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
	      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
	      crossorigin=""/>
	<link rel="stylesheet" href="{% static 'census/css/leaflet.legend.css' %}" />
{% endblock additional_css %}

{% block content %}
	<div class="container mt-4">
		<h1>Carte des fermes maraîchères diversifiées</h1>

		<p>La carte ci-dessous liste, par commune, l'ensemble des fermes maraîchères diversifiées recensées sur la plateforme.</p>

		<p>
			Les communes en <span style="color: #0101fe;"><b>bleu</b></span> comptent au moins un·e maraîcher·ères. La surface du cercle
			est proportionnelle au nombre de maraîcher·ères recensé·es dans la commune. Les communes en
			<span style="color: #565e64;"><b>gris</b></span> ne compte pour le moment aucun·e maraîcher·ère recensé·e.
		</p>

		<hr class="my-4">

		<div class="text-center mt-4 mb-4">
			<button type="button" class="btn btn-primary mt-1" onClick="filterProvince(this)" data-filter="brabant-wallon">Brabant wallon</button>
			<button type="button" class="btn btn-primary mt-1" onClick="filterProvince(this)" data-filter="hainaut">Hainaut</button>
			<button type="button" class="btn btn-primary mt-1" onClick="filterProvince(this)" data-filter="namur">Namur</button>
			<button type="button" class="btn btn-primary mt-1" onClick="filterProvince(this)" data-filter="liège">Liège</button>
			<button type="button" class="btn btn-primary mt-1" onClick="filterProvince(this)" data-filter="luxembourg">Luxembourg</button>
			<button type="button" class="btn btn-primary mt-1" onClick="filterProvince(this)" data-filter="bruxelles,.brabant-flamand">Bruxelles <small>(et communes à facilités)</small></button>
			<button type="button" class="btn btn-secondary active mt-1" onClick="filterProvince(this)" data-filter="all">Tout afficher</button>
		</div>

	  <div id="map"></div>
	</div>
{% endblock content %}

{% block script %}
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
	        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
	        crossorigin=""></script>
	<script type="text/javascript" src="{% static 'census/js/leaflet.legend.js' %}"></script>

	<script>
		const map = L.map('map').setView([50.220, 4.911], 8);

		L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
	    maxZoom: 19,
	    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		}).addTo(map);

		{% for m in municipalities %}
			var coord = '{{ m.GPS_coordinates }}'.split(", ")

			{% if m.farm_set.values %}
				//var marker = L.marker([coord[0], coord[1]]).addTo(map);
				var circle = L.circle([coord[0], coord[1]], {
					color: 'blue',
					opacity: 1.0,
					fillColor: 'blue',
					fillOpacity: 0.65,
					radius: 1000 * Math.sqrt({{ m.farm_set.values|length }}),
					className: '{{ m.province }}'.replace(/\s+/g, '-').toLowerCase()
				}).addTo(map);

				circle.bindPopup("<b>{{ m.name }}</b> :"
												+"<ul>{% for f in m.farm_set.values %}{% if f.public %}<li>"
												+"<a href={% url 'census:view' f.id %}>{{ f.name }}</a>"
												+"</li>{% endif %}{% endfor %}</ul>")
			{% else %}
				var circle = L.circle([coord[0], coord[1]], {
					color: 'gray',
					opacity: 1.0,
					fillColor: 'gray',
					fillOpacity: 0.75,
					radius: 1000,
					className: '{{ m.province }}'.replace(/\s+/g, '-').toLowerCase()
				}).addTo(map);
				circle.bindPopup('<p><b>{{ m.name }}</b> : pas de ferme maraîchère diversifiée recensée dans cette commune.</p>'
												+'<p class="text-center"><a class="btn btn-sm btn-success text-light" href="{% url 'census:create' %}">Ajouter votre ferme</a> '
												+'ou <a href="/#contact">contactez-nous</a> !</p>')
			{% endif %}
		{% endfor %}

		L.control.Legend({
      position: "bottomleft",
      legends: [{
        label: "Commune sans maraîcher·ère recensé·e",
        type: "circle",
				color: 'gray',
				opacity: 1.0,
				fillColor: 'gray',
				fillOpacity: 0.75,
				radius: 500,
      }, {
				label: "Commune avec au moins un·e maraîcher·ère recensé·e",
	      type: "circle",
	      color: 'blue',
				opacity: 1.0,
				fillColor: 'blue',
				fillOpacity: 0.65,
	      radius: 500,
      }]
		}).addTo(map);

		function filterProvince(btn) {
			var data_filter = btn.getAttribute('data-filter');

			if (data_filter === 'all') {
				[].forEach.call(document.getElementsByClassName('leaflet-interactive'), function (el) {
					el.style.visibility = 'visible';
				});
			} else {
				[].forEach.call(document.getElementsByClassName('leaflet-interactive'), function (el) {
					el.style.visibility = 'visible';
				});

				[].forEach.call(document.querySelectorAll('path.leaflet-interactive:not(.' + data_filter + ')'), function (el) {
					el.style.visibility = 'hidden';
				});
			}

			let buttons = document.getElementsByTagName('button')
			for (var i = 0; i < buttons.length; i++) {
				buttons[i].classList.remove('active')
			}

			btn.classList.add('active')
	}
	</script>

{% endblock %}