{% extends "census/base.html" %}

{% block content %}
	<div class="container mt-4">

	<a href="{% url 'census:listing' %}" class="btn btn-sm btn-secondary mb-4" >← Retour à la liste</a>

	<p class="alert alert-success">
		Merci pour votre contribution au recensement ! Votre ajout sera visible sur la plateforme après validation. <br><br>

		Pour modifier les informations de votre ferme, cliquez <a href="{% url 'census:view' id %}">ici</a> et indiquez
		votre adresse e-mail.
	</p>
	</div>
{% endblock content %}