{% extends "census/farm_form.html" %}

{% block title %}
	Modifier une ferme maraîchère
{% endblock title %}

{% block content-header %}

	<a href="{% url 'census:listing' %}" class="btn btn-sm btn-secondary mb-4" >← Retour à la liste</a>
	<a href="{% url 'census:map' %}" class="btn btn-sm btn-secondary mb-4" >← Retour à la carte</a>

	<h1>Modifier les informations d'une ferme</h1>

	{% if not display_form %}
		<p class="alert alert-danger" role="alert">
			Le lien d'édition a expiré. Vous pouvez en demander un nouveau <a href="{% url 'census:view' farm_id %}">ici</a>.
		</p>
	{% endif %}

{% endblock content-header %}