{% extends "census/mails/base_mail.html" %}

{% block content %}
	<p>Madame, Monsieur,</p>

	<p>
		Dans le cadre de ma thèse à l'UCLouvain dédiée au <b>maraîchage diversifié</b>, une
		<a href="{{ home_url }}">plateforme de recensement du maraîchage diversifié</a>
		en Wallonie et à Bruxelles vient d'être créée. Vous trouverez plus d'informations
		sur les objectifs de ce recensement dans <a href="{{ home_url }}#faq">la FAQ</a>.
	</p>

	<p>
		Dans ce contexte, je contacte chacune des communes du territoire afin de compléter le recensement
		et d'identifier les maraîcher·ères <u>diversifié·es</u> (c'est-à-dire produisant plus de <b>12</b> catégories
		de <b>légumes</b>) à côté desquel·les je serai passé·es.
	</p>

	{% if farm_count > 0 %}
	<p>
		Dans votre commune, j'ai identifié <b>{{ farm_count }}</b> maraîcher·ère{{ farm_count|pluralize:'s' }}
		diversifié·e{{ farm_count|pluralize:'s' }}, que vous retrouverez dans la <a href="{{ listing_url }}">liste</a>
		(dans laquelle vous pouvez effectuer une recherche par commune) ou sur la <a href="{{ map_url }}">carte</a>
		disponible sur la plateforme.
	</p>
	<p>
		Accepteriez-vous de jeter un oeil à cette liste pour (i) me confirmer que les maraîcher·ères listé·es dans votre
		commune sont toujours en activité et (ii) m'indiquer les éventuel·les maraîcher·ères manquantes (par exemple en me
		communiquant leur site web, page Facebook, page sur un répertoire de producteur·rices, le nom de leur ferme ou leur adresse e-mail) ?
	</p>
	{% endif %}

	{% if farm_count == 0 %}
	<p>
		Dans votre commune, je n'ai identifié <b>aucun·e</b> maraîcher·ère diversifié·e.
	</p>
	<p>
		Pouvez-vous me confirmer qu'aucun·e maraîcher·ère diversifié·e ne produit de légumes sur le territoire de votre
		commune ? Ou, dans le cas contraire, pouvez-me m'indiquer les maraîcher·ères que je n'ai pas identifié·es (par exemple
		en me communiquant leur site web, page Facebook, page sur un répertoire de producteur·rices, le nom de leur ferme ou leur adresse e-mail) ?
	</p>
	{% endif %}

	<p>
		<b>Merci</b> d'avance pour votre contribution au recensement !
	</p>

	<p>
		Bien à vous,
	</p>
{% endblock content %}
